<!DOCTYPE HTML>
<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 text-right gtco-contact">
                    <ul class="">
                        <li><a href="http://pioniergarage.de/kontakt" target="_blank"><i class="icon-mail2"></i></a></li>
                        <li><a href="https://startup-karlsruhe-slackin.herokuapp.com" target="_blank"><i class="fa fa-slack"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div id="gtco-logo"><a href="/">Startup-Karlsruhe <em>.</em> de</a></div>
                </div>
                <div class="col-xs-8 text-right menu-1">
                    <ul>
                        <li {% if page.url == "/" %}class="active"{% endif %}>
                            <a href="/">Home</a>
                        </li>
                        <li {% if page.url == "/events.html" %}class="active"{% endif %}>
                            <a href="events.html">Events</a></li>
                        <li {% if page.url == "/hilfe-fuer-startups-und-gruender.html" %}class="active"{% endif %}>
                            <a href="hilfe-fuer-startups-und-gruender.html">Startup-Unterstützer</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    {{ content }}

    <footer id="gtco-footer" role="contentinfo">
        <div class="gtco-container">
            <div class="row row-p b-md">
                <div class="col-md-4">
                    <div class="gtco-widget">
                        <h3>About Us</h3>
                        <p>Startup-Karlsruhe.de bietet einen Überblick über die Karlsruher Startup-Szene und die wichtigsten Anlaufstellen, um interessierten Startups, Entrepreneuren und Gründern einen erleichterten Einstieg zu ermöglichen. Das Projekt wurde ursprünglich von <a href="http://andreasdittes.com" target="_blank">Andreas Dittes</a> ins Leben gerufen und an die <a href="https://pioniergarage.de" target="_blank">PionierGarage</a> übertragen</p>
                    </div>
                </div>

                <div class="col-md-4 col-md-push-1">
                    <div class="gtco-widget">
                        <h3>Links</h3>
                        <ul class="gtco-footer-links">
                            <li><a href="/">Home</a></li>
                            <li><a href="events.html">Events</a></li>
                            <li><a href="hilfe-fuer-startups-und-gruender.html">Startup-Unterstützer</a></li>
                            <li><a href="http://pioniergarage.de/kontakt">Kontakt</a></li>
                            <li><a href="http://pioniergarage.de/impressum">Impressum</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="gtco-widget">
                        <h3>Get In Touch</h3>
                        <ul class="gtco-quick-contact">
                            <li><a href="https://startup-karlsruhe-slackin.herokuapp.com" target="_blank"><i class="fa fa-slack"></i> Slack-Channel für Startups in Karlsruhe</a></li>
                            <li><a href="http://pioniergarage.de/kontakt"><i class="icon-mail2"></i> info@pioniergarage.de</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="row copyright">
                <div class="col-md-12">
                    <p class="pull-left">
                        <small class="block">&copy; 2016 Pioniergarage e.V. All Rights Reserved.</small>
                    </p>
                    <p class="pull-right">
                    <ul class="gtco-social-icons pull-right">
                        <li><a href="https://startup-karlsruhe-slackin.herokuapp.com" target="_blank"><i class="fa fa-slack"></i></a></li>
                        <li><a href="https://github.com/pioniergarage/startup-karlsruhe.de" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://facebook.com/pioniergarage" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://twitter.com/pioniergarage" target="_blank"><i class="icon-twitter"></i></a></li>
                    </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="js/main.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83728333-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>
